[ req ]
default_bits        = 2048
default_keyfile     = privkey.pem
distinguished_name  = req_distinguished_name
req_extensions      = v3_req
prompt              = no

[ req_distinguished_name ]
C  = HT
ST = California
L  = San Francisco
O  = Softmatech
OU = velog-team
CN = localhost   # Common Name is set to localhost (or 127.0.0.1)

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
DNS.2 = 127.0.0.1

